header
  .header-position
    h1.logo Portfolio Site
  
    nav.site-nav
      ul
        li: a(href="#about") About
        li: a(href="#projects") Projects
        li: a(href="#experience") Experience
        li: a(href="#contact") Contact
    
    a(href="mailto:test@example.com").email-link +email me
  