section.projects
  .flex.flex--space-around
    
    .col-1
      .project-strip
      .flex-thumb <iframe src="../assets/img/project-thumb.png" scrolling="no" frameborder="0" allowfullscreen></iframe> 

    .col-1.order-first
      p.home-lead.outdented ... Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      a(href="http://github.com").home-cta Find me on Github