section.about
  .flex.flex--center
    .col-1.push-right
      h2 Hello, and welcome!
      p.home-lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua.