section.projects
  .flex.flex--space-around
    
    .col-1
      .project-strip
      .flex-thumb <iframe src="http://img4.imagetitan.com/img4/nfGWhV626vXEM16/15/15_project-thumb.png" scrolling="no" frameborder="0" allowfullscreen></iframe> 

    .col-1.order-first
      p.home-lead.outdented ... Check out some of the projects that I have completed!
      a(href="http://github.com").home-cta Find me on Github