section#experience.experience
  .flex.flex--center
  
    .col-50
      .article-wrap
        |{% for post in site.posts %}
        a(style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})").article-thumb
          .article-meta
            .name {{post.title}}
            //.date {{post.date}}
        |{% endfor %}
    
    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented ... Or see the experience I have!
          a(href="#").home-cta Check out my Resume